$tablet: 1100px;

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (max-width: $tablet) {
    padding-top: 80px; 
  }

  &__button {
    margin-top: 10px;

    &__link {
      font-family: Jost;
      font-size: 16px;
      font-style: normal;
      text-decoration: none;
      color: #DDDCA9;
    }
  }
}