$tablet: 1100px;
$mobile: 600px;

.dashboard{
    background: url(../../assets/Dasshboard_bg.png);
    
    &__content{
        display: flex;
        height: 80vh;
    }

    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* width: 92.5%; */
    height: 100vh;
}
.dashboard__content{
    display: flex;
    height: 80vh;
}
.PleaseRegister{
  margin-top: 10%;

   margin-left: 20%;
}
