.timeline_item_container_left {
  flex: none;
  color: rgba(155, 243, 252, 1);
  box-sizing: border-box;
  width: 264px;
  height: 124px;
  background: url('../../assets/images/left.svg');
  z-index: 1;
  &_title {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
  }
  &_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    justify-content: center;
    &_date {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding-bottom: 2rem;
    }
    &_time {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding-bottom: 2rem;
    }
  }
  &_text {
    color: rgba(112, 245, 176, 1);
    margin: 0;
    padding: 0;
    padding-left: 0.3rem;
    font-size: 12px;
  }
  &::before {
    background: url('../../assets/images/dottedLine.svg');
    content: '';
    position: absolute;
    left: calc(50% - 1px);
    height: 120px;
    width: 2px;
    z-index: -1;
  }
  &_parent {
    z-index: 1;
  }
}
