$mobile: 600px;

.particular-container {
  font-size: 14px;

  width: 100%;
  height: 75vh;
  font-weight: 700;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 3rem 6rem;
  // padding-left: 6rem;
  // padding-right: 6rem;
  justify-content: space-around;
  // filter: blur(5px);
  // background-size: cover;
  // background-position: center;
  // padding: 20px;
  position: relative;
  //   overflow: hidden;
  // padding: 20px;

  // .bg-img {
  //   position: absolute;
  //   top: 48px;
  //   left: 89px;
  //   width: 85%;
  //   height: 62vh;
  //   // background-image: url('../../assets/images/event-bg.png');
  //   background-color: rgba(4, 58, 48, 0.27);
  //   background-size: cover;
  //   background-position: center;
  //   // opacity: 0.5;
  //   filter: blur(8px);
  //   -webkit-filter: blur(8px);
  //   z-index: -1;
  //   border: 1px solid#0B5447;
  //   border-radius: 25px;
  // }

  .event-content {
    position: relative;
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    // justify-content: space-between;
    gap: 2rem;
    border: 1px solid white;


    // background-color: rgba(4, 58, 48, 0.27);
    
    background-image: url('../../assets/event-desc-bg.png');
    background-size: cover;
   
    background-position: center;
    .close-btn {
      top: 21px;
      position: absolute;
      right: 15px;
    }
    .close-btn:hover {
      cursor: pointer;
    }

    .left-container {
      width: 30%;
      height: 100%;
      img {
        width: 100%;
        height: 85%;
        padding: 12px;
        padding-top: 33px;
      }
    }

    .right-container {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      // height: 100%;

      .event-title {
        
       font-family: Jost;
       font-size: 26px;
       font-weight: 500;
       line-height: 32px;
        letter-spacing: 0.09em;
        text-align: left;
        color: #D7D7D7;
        ;

      }

      .event-desc {
        font-family: Jost;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

font-family: Jost;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

a{
  text-decoration: none;
  color: #087c6d;
  font-weight: 700;
  font-size: 14px;
}

.read-btn{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-left: 12px;
  text-align: center;
}

      }

      .event-time {
        display: flex;
        // justify-content: space-between;
        gap: 2rem;
        .event-prize {
          background-image: url(../../assets/images/prize_border.png);
          width: 145px;
          height: 74px;
          background-repeat: no-repeat;
          font-family: Jost;
          font-size: 16px;
          font-weight: 500;
          line-height: 23px;
          letter-spacing: 0em;
          text-align: center;
          

          // padding-left: 15px;
          // padding-top: 5px;
          
        }
        .prize_amount{
          text-align: center;
          // padding-top: 10px;
          

          font-family: Jost;
          font-size: 18px;
          font-weight: 700;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: center;
          color:  #7FE2D5;
          ;


        }
        .prize-line{
          background-image: url('../../assets/prize-line.png');
          height: 3px;
          width: 80%;
          margin-left: 13px;
          margin-top: 4px;
        }
        .prize_Worth{
          text-align: center;
          padding-top: 10px;
          font-family: Jost;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
          
        }
        .event-date {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .event-date-out {
            color:  #7FE2D5;
          }
          .event-date-in {
            color:  #7FE2D5;
          }
        }
      }

      .event-team {
        font-family: Jost;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        // text-align: center;

        display: flex;
        gap: 2rem;
        li {
          text-decoration: none;
          list-style-type: none;
        }

        .event-team-left {
        }

        .event-team-right {
        }
      }

      .event-btn-container {
        color: white;
        font-family: jost;
        font-size: 16px;

        display: flex;
        gap: 2rem;

        .event-btn {
          text-align: center;
          background: #087c6d;
          border-radius: 15px;
          padding-left: 10px;
          padding-right: 10px;
          width: 140px;
          height: 40px;
        }
        .event-btn:hover {
          cursor: pointer;
        }
      }
    }
  }
  @media only screen and (max-width: 1300px) {
    width: 100%;
    height: 512px;
    // padding: 3rem 4rem;
    padding-top: 15px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom :3rem ;
    .bg-img{
      top: 27px;
      top: 27px;
      height: 66vh;
    }
  }
  }


.display {
  display: flex;
}
.notDisplay {
  display: none;
}
button {
  all: unset;
}


.join-team {
  background: url(../../assets/joinbg.png);
  background-size: cover;
  // object-fit: contain;
  border-bottom: 0.1px solid #336964;
  height:100%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
   
  
  &__line {
    border: none;
    border-top: 1.5px dashed #1ca0ff;
    height: 0px;
    width: 540px;
    margin: 10px 0px;
    

    @media screen and (max-width: $mobile) {
      margin: 20px 0px;
      width: 100%;
    }
  }
  &__plcholder{
    color:#59D8DB;
    font-family: Jost;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  
  }
  &__codee{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;    
    &::-webkit-scrollbar{
      display: none;
    }
    input{
      // margin-left: 4rem;
      background: url(../../assets/joine.png);
      width:20vw;
      height:6.4vh;
      color:white;
      margin-bottom: 2rem;

    }
    
   }
  
  &__input {
    margin: 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__message {
    // font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #ffffff;
    margin-top:2rem;
    // margin-right: 14rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

$mobile: 600px;

.create-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
  padding: 20px;
  &::-webkit-scrollbar{
    display: none;
  }

  input{
    // margin-left: 4rem;
    background: url(../../assets/joine.png);
    width:20vw;
    height:6.4vh;
    color:white;
    margin-bottom: 2rem;
  }

  &__line {
    border: none;
    border-top: 1.5px dashed #1ca0ff;
    height: 0px;
    width: 540px;
    margin: 10px 0px;

    @media screen and (max-width: $mobile) {
      margin: 20px 0px;
      width: 100%;
    }
  }

  &__input {

    
  }

  &__success {
    width: max-content;
    height: 40px;
    background: #000000;
    border: 0.5px solid rgba(255, 255, 255, 0.75);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    &__code {
      font-family: Retro Gaming;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      text-align: center;
      letter-spacing: 0.3em;
      color: #ffffff;

      @media screen and (max-width: $mobile) {
        padding-bottom: 2px;
      }
    }
  }

  &__message {
    padding: 10px;
    margin-bottom: 4px;
  }
}

.forminputss{
 display: flex;
 flex-direction: column;
justify-content: center;
align-items: center;
}
// .forminputss div{
//   display: flex;
//   flex-direction: row !important;
//   align-items: center;
  
  
// }
.auth_button_particular{
  background-color: #226D6C;
  // margin-left: 3rem;
  height: 46px;
  width: 286px;
  margin-top: 2rem;
  &_text{
    font-family: jost;
    height: 46px;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
