$mobile: 600px;

.particular-container {
  font-size: 14px;

  width: 100%;
  height: 75vh;
  font-weight: 700;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 3rem 6rem;
  // padding-left: 6rem;
  // padding-right: 6rem;
  justify-content: space-around;
  // filter: blur(5px);
  // background-size: cover;
  // background-position: center;
  // padding: 20px;
  position: relative;
  //   overflow: hidden;
  // padding: 20px;

  .bg-img {
    position: absolute;
    top: 48px;
    left: 89px;
    width: 85%;
    height: 62vh;
    // background-image: url('../../assets/images/event-bg.png');
    background-color: rgba(4, 58, 48, 0.27);
    background-size: cover;
    background-position: center;
    // opacity: 0.5;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1;
    border: 1px solid #010f20;
    border-radius: 25px;
  }

  .event-content {
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;

    .close-btn {
      top: 21px;
      position: absolute;
      right: 15px;
    }
    .close-btn:hover {
      cursor: pointer;
    }

    .left-container {
      width: 30%;
      height: 100%;
      img {
        width: 100%;
        height: 85%;
        padding: 12px;
        padding-top: 33px;
      }
    }

    .right-container {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      // height: 100%;

      .event-title {
        font-weight: 500;
        font-size: 22px;
      }

      .event-desc {
      }

      .event-time {
        display: flex;
        // justify-content: space-between;
        gap: 2rem;
        .event-prize {
        }
        .event-date {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .event-date-in {
          }
          .event-date-in {
          }
        }
      }

      .event-team {
        display: flex;
        gap: 2rem;
        li {
          text-decoration: none;
          list-style-type: none;
        }

        .event-team-left {
        }

        .event-team-right {
        }
      }

      .event-btn-container {
        color: white;
        font-family: jost;
        font-size: 16px;

        display: flex;
        gap: 2rem;

        .event-btn {
          text-align: center;
          background: #087c6d;
          border-radius: 15px;
          padding-left: 10px;
          padding-right: 10px;
          width: 140px;
          height: 40px;
        }
        .event-btn:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.display {
  display: flex;
}
.notDisplay {
  display: none;
}
button {
  all: unset;
}


.join-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__line {
    border: none;
    border-top: 1.5px dashed #1ca0ff;
    height: 0px;
    width: 540px;
    margin: 10px 0px;

    @media screen and (max-width: $mobile) {
      margin: 20px 0px;
      width: 100%;
    }
  }

  &__input {
    margin: 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__message {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #ffffff;
    margin: 10px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

$mobile: 600px;

.create-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__line {
    border: none;
    border-top: 1.5px dashed #1ca0ff;
    height: 0px;
    width: 540px;
    margin: 10px 0px;

    @media screen and (max-width: $mobile) {
      margin: 20px 0px;
      width: 100%;
    }
  }

  &__input {
    margin: 5px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__success {
    width: max-content;
    height: 40px;
    background: #000000;
    border: 0.5px solid rgba(255, 255, 255, 0.75);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    &__code {
      font-family: Retro Gaming;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      text-align: center;
      letter-spacing: 0.3em;
      color: #ffffff;

      @media screen and (max-width: $mobile) {
        padding-bottom: 2px;
      }
    }
  }

  &__message {
    padding: 10px;
    margin-bottom: 4px;
  }
}
