.header {
  .header-title {
    padding-top: 2rem;
    text-align: center;
    color: #59d8db;
    font: Tech Zone Demo;
    font-weight: 400;
  }
  .header-img {
    margin: 1rem;
    display: flex;
    justify-content: center;
  }
  @media only screen and (max-width: 850px) {
    .header-img {
      width: 50%;
      margin: 1rem;
      display: flex;
      justify-content: center;
    }
  }
  .header-content {
    width: 80%;
    margin: -2rem auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;

    li {
      text-decoration: none;
      list-style-type: none;
    }
  }
}
