$tablet: 1000px;
$mobile: 600px;
$small-mobile: 400px;

.forminput {
  display: flex;
  flex-direction: column;
  align-items: left;
  // width: 100%;
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    transition-delay: 3600s;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  &__label {
    font-family: Jost;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
  }

  &__field {
    padding: 0px 5px;
    margin-top: 5px;
    // background: #44658c;
    background: rgba(0, 0, 0, 0);
    border-radius: 3px;
    border: 1px solid #336964;
    width: 362px;
    height: 36px;
    color: #ffffff;
    font-size: 16px;
    outline: none;
  }

  &__input {
    background: #44658c;
    padding: 8px;
    margin: 2px;
    color: white;
  }

  &__error {
    font-family: Jost;

    margin-top: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #ff0033;
  }

  &__signup {
    &__firstname {
      width: 362px;
      margin-bottom: 10px;
    }

    &__lastname {
      width: 362px;
      margin-bottom: 10px;
    }

    &__phone {
      width: 362px;
      input {
        margin-top: 2px;
      }
      margin-bottom: 10px;
    }

    &__email {
      width: 362px;
    }

    &__institute {
      width: 362px;
      margin-bottom: 10px;
    }

    &__degree {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &__password {
      margin-bottom: 10px;
    }

    &__proof {
      margin-bottom: 10px;
    }
  }

  &__login {
    &__email {
      width: 362px;
      margin-bottom: 10px;
    }
  }

  &__forgot-pass {
    &__email {
      width: 450px;
    }
  }

  &__reset-pass {
    &__password {
      width: 450px;
    }

    &__confirmPassword {
      margin-top: 10px;
      width: 450px;
    }
  }

  &__change-pass {
    &__oldPassword,
    &__newPassword,
    &__confirmPassword {
      margin-bottom: 10px;
      width: 450px;
    }
  }

  &__join-team {
    &__team_code {
      padding: 4px;

      label {
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        color: #ffffff;
        margin-bottom: 5px;
      }

      input {
        font-size: 20px;
        font-weight: 700;
        background: #b2d5ff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        color: #000000;
      }
    }
  }

  &__create-team {
    &__team_name {
      label {
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        color: #ffffff;
        margin-bottom: 5px;
      }

      input {
        font-size: 20px;
        font-weight: 700;
        background: #b2d5ff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        color: #000000;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .forminput {
    &__login {
      &__email {
        width: 95%;
      }
      &__password {
        width: 95%;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .forminput {
    width: 85%;

    &__field {
      width: 100%;
    }

    &__create-team__team_name,
    &__join-team__team_code {
      label {
        font-size: 24px;
      }
    }

    &__signup {
      width: 100%;
      margin-top: 20px;

      &__firstname {
        float: none;
        padding: 10px 0px;
        input {
          padding-left: 5px;
        }
      }

      &__password {
        float: none;
        padding: 0px;
        label {
          margin-top: 10px;
        }
        input {
          padding-left: 5px;
        }
      }

      &__confirmPassword {
        label {
          margin-top: 10px;
        }
      }

      &__degree {
        margin-top: 10px;
      }

      &__phone {
        margin-top: 10px;
      }

      &__email {
        label {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: $small-mobile) {
  .forminput {
    &__signup {
      &__proof {
        input {
          width: 100px;
        }
      }
    }
  }
}
