$tablet: 1100px;
$mobile: 600px;

.signup {
  &__bottom {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__status {
      &__error {
        font-size: 15px;
        font-weight: 400;
        color: #ff0033;
      }

      &__success {
        font-size: 15px;
        font-weight: 400;
        color: #12ca50;
        width: 100%;
        max-width: 400px;
        display: block;
        word-wrap: break-word;
        hyphens: auto;
        break-inside: avoid;

      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      &__page {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-family: Jost;
        font-size: 20px;
        letter-spacing: 0.08em;
        color: white;
        margin-bottom: 10px;
        width: 362px;
        height: 46px;
        background: black;
        border: none;
        border-radius: 5px;
        margin-top: 40px;


        &__arrow {
          padding: 0px 5px;
        }
      }

      &__vl {
        border-left: 2px solid #ffffff;
        height: 48px;
      }

      &__enable {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-family: Jost;
        font-size: 20px;
        letter-spacing: 0.08em;
        color: white;
        margin-bottom: 10px;
        width: 362px;
        height: 46px;
        background: black;
        border: none;
        border-radius: 5px;
        margin-top: 40px;

        &:active {
          box-shadow: 0 1px #666;
          transform: translateY(0.5px);
        }

        &__text {
          font-family: Jost;
          font-size: 22px;
          color: rgba(255, 255, 255, 0.75);
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }

      &__disable {
        pointer-events: none;
        width: 166px;
        height: 41px;
        background: #aaaaaa;
        border-radius: 11px;
        margin-left: 10px;
        margin-bottom: 5px;

        &__text {
          font-family: Barlow;
          font-size: 24px;
          text-align: center;
          color: #000000;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__bottom {
      &__buttons {
        flex-direction: column;

        &__vl {
          display: none;
        }

        &__page {
          margin-right: 0px;
        }

        &__enable {
          margin-left: 0px;
          margin-bottom: 10px;
        }

        &__disable {
          margin-left: 0px;
          margin-bottom: 10px;
        }
      }
    }
  }
}