@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
.main__page {
  background-color: #021310;
  // background-color: lightblue;
  background-image: url("./assets/images/bgImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 50% 50%;
  width: 100vw;
  &__test__h1 {
    color: green;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.App {
  min-height: 100vh;
  /* width: 100vw; */
  background: #021310;
}

body {
  background: #021310;
  overflow-x: hidden;

}

@font-face {
  font-family: Jost;
  src: url("./assets/fonts/Jost-Regular.ttf");
}

@font-face {
  font-family: ethnocentric;
  src: url("./assets/fonts/ethnocentric-rg.otf");
}