.event-body{
  background: url(../../assets/Dasshboard_bg.png);
  width: 100vw;
  height: 100vh;
.event {
  // overflow: hidden;

 

  font-family: jost;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  width: 80%;
  margin: auto;

  .event-header {
    .activeon {
      scale: (1.2);
      color: #d0e89f;
  }
    a {
      text-decoration: inherit;
      color: inherit;
    }
    a:hover {
      scale: (1.2);
      color: #d0e89f;
    }
    padding-bottom: 40px;
    .header-content {
      width: 80%;
      margin: -2rem auto;
      display: flex;
      text-align: center;
      justify-content: space-evenly;
  
      li {
        text-decoration: none;
        list-style-type: none;
      }
    }
  }
  .event-container {
    position: relative;

    .particular-event {
      width: 100%;
      // height: 100%;
      
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      
    }
  }
  @media only screen and (max-width: 1300px) {
    width: 100%;
    height: 100%;
  }
}
}